{# templates/iwa/default.html.twig #}
{% extends 'base-adminlte.html.twig' %}

{% block maincontent %}
    <main class="app-main"> 
        <div class="app-content-header"></div>
        <div class="app-content">
            Testi
            {{ mymessage }}
        </div> 
    </main>
{% endblock %}
