{% extends 'sticker/base.html.twig' %}
{% block title %} Sticker {% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-3">
            <h1>Groups</h1>
            <ul>
                <li>Group1</li>
                <li>Group2</li>
                <li>Group3</li>
            </ul>
        </div>
        <div class="col-9">
            <h1>Stickers</h1>
            <ul>
                <li>Stickers1</li>
                <li>Stickers2</li>
                <li>Stickers3</li>
            </ul>
        </div>
    </div>
</div>



{% endblock %}