{% extends 'sticker/base.html.twig' %}
{% block title %} Sticker {% endblock %}
{% block content %}


<div class="container mt-2">
    <div class="row">
        <div class="col-3">
            <h1>Groups</h1>
            <div class="row mt-4">
                <div class="col-12">
                    <a href="{{ path('sticker_new_group') }}" class="btn btn-primary w-100">New Group</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="list-group">
                        {% for group in groups %}
                            <a href="#"
                               class="list-group-item list-group-item-action"
                               onclick="loadStickers({{ group.id }})">
                                {{ group.group_name }}
                            </a>
                        {% else %}
                            <p class="text-muted">No groups available.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <h1>Stickers</h1>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <a href="{{ path('sticker_new') }}" class="btn btn-primary">New Sticker</a>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12" id="stickers-container">
                    <input type="text" id="searchInput" placeholder="Search..." class="form-control mb-3" onkeyup="searchTable()">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Product Code</th>
                            <th scope="col">Iwasku</th>
                            <th scope="col">Category</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Image</th>
                        </tr>
                        </thead>
                        <tbody id="stickers-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block body_scripts %}
    <script>
        function loadStickers(groupId) {
            selectedGroupId = groupId;
            highlightSelectedGroup(groupId);
            const tableBody = document.getElementById('stickers-table-body');
            tableBody.innerHTML = '<tr><td colspan="7">Loading...</td></tr>';
            fetch(`/sticker/get-stickers/${groupId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const rows = data.stickers.map(sticker => `
                    <tr>
                        <td>${sticker.product_code}</td>
                        <td >${sticker.iwasku}</td>
                        <td>${sticker.category}</td>
                        <td>
                            <a href="${sticker.sticker_link}" target="_blank">
                                ${sticker.product_name}
                            </a>
                            <br>
                            ${sticker.attributes ? sticker.attributes.split(' ').join('<br>') : ''}
                        </td>
                        <td style="text-align: center;"><img src="${sticker.image_link}" alt="Image" style="height: 50%; width: 50%;"></td>
                    </tr>
                `).join('');
                        tableBody.innerHTML = rows;
                    } else {
                        tableBody.innerHTML = '<tr><td colspan="7">No stickers available for this group.</td></tr>';
                    }
                })
                .catch(error => {
                    console.error('Error fetching stickers:', error);
                    tableBody.innerHTML = '<tr><td colspan="7">An error occurred while loading stickers.</td></tr>';
                });
        }
        function searchTable() {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.querySelector("table");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {
                tr[i].style.display = "none";
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }
        }
        function highlightSelectedGroup(groupId) {
            const groupLinks = document.querySelectorAll('.list-group-item');
            groupLinks.forEach(link => {
                if (parseInt(link.dataset.groupId) === groupId) {
                    link.classList.add('active');
                    link.setAttribute('aria-current', 'true');
                } else {
                    link.classList.remove('active');
                    link.removeAttribute('aria-current');
                }
            });
        }
    </script>
{% endblock %}
