{% extends 'sticker/base.html.twig' %}
{% block title %} Sticker {% endblock %}
{% block content %}

    <div>
        <h1>Sticker</h1>
        <p>Sticker is a simple application to manage your tasks.</p>
    </div>




{% endblock %}