{% extends 'sticker/base.html.twig' %}
{% block title %} Sticker Test {% endblock %}
{% block content %}

        <h1>Group Products</h1>
        <ul>
            {% for group in groups %}
                <li>{{ group.products }}</li>
                <li>{{ group.euStickers }}</li>
            {% endfor %}
        </ul>


{% endblock %}


