{% extends 'sticker/base.html.twig' %}
{% block title %} Sticker Test {% endblock %}
{% block content %}

    <h1>Group Products</h1>




{% endblock %}

<script>
    // Backend'den gelen 'result' verisini konsola yazdırma
    const result = {{ result|json_encode|raw }};
    console.log("Result:", result);
</script>