{% extends 'sticker/base.html.twig' %}
{% block title %} Sticker Test {% endblock %}
{% block content %}

    <h1>Group Products</h1>
    <ul>
        {% for group in groups %}
            <li>
                <strong>Products:</strong>
                <ul>
                    {% for product in group.products %}
                        <li>{{ product.name }}</li>
                    {% endfor %}
                </ul>
            </li>
          
        {% endfor %}
    </ul>



{% endblock %}


