# Ignore everything
/*
# Unignore src/ folder and its contents
!src/
!src/**
!templates/
!templates/**
!README.md
!.gitignore
!LICENSE
!dokuwiki/
!var/
!var/classes
var/cache/
var/logs/
var/recyclebin/
var/versions/
var/tmp/
var/config/
var/admin/
var/installer/
var/python_venv/
dokuwiki/conf/users.auth.php

