<footer class="app-footer">
    <div class="float-end d-none d-sm-inline">Bir gün bitecek...</div> <strong>&copy; 2024&nbsp;
        <a href="https://iwaconcept.com" class="text-decoration-none">IWA Concept</a>
    </strong>
    üretimidir.
</footer>
