{# ozon.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ozon Listeleme Yardımcısı{% endblock %}

{% block stylesheets %}
    <!-- link rel="stylesheet" href="/path/to/custom.css" -->
{% endblock %}

{% block head_scripts %}
    <!-- script src="/path/to/head-custom.js"></script -->
{% endblock %}

{% block body_scripts %}
    <!-- script src="/path/to/body-custom.js"></script -->
{% endblock %}

{% block content %}
    <h1>Ozon Listeleme Yardımcısı</h1>
{% endblock %}
