{% extends 'base.html.twig' %}
{% block title %} Missing Product Dimensions {% endblock %}
{% block navbaritems %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <div class="container-fluid mt-4">
        <h1 class="text-center mb-4">Eksik Ürün Boyutları</h1>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}

{% block body_scripts %}
    <script>
    </script>
{% endblock %}