{# templates/iwa/base-adminlte.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
IWA Ürün Yönetim Sistemi
{% endblock %}

{% block content %}
<div class="app-wrapper">
    {% include 'partials/navbar.html.twig' %}
    {% include 'partials/sidebar.html.twig' %}

    {% block maincontent %}
    {% endblock %}

    {% include 'partials/footer.html.twig' %}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    const SELECTOR_SIDEBAR_WRAPPER = ".sidebar-wrapper";
    const Default = {
        scrollbarTheme: "os-theme-light",
        scrollbarAutoHide: "leave",
        scrollbarClickScroll: true,
    };
    document.addEventListener("DOMContentLoaded", function() {
        const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
        if (
            sidebarWrapper &&
            typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== "undefined"
        ) {
            OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
                scrollbars: {
                    theme: Default.scrollbarTheme,
                    autoHide: Default.scrollbarAutoHide,
                    clickScroll: Default.scrollbarClickScroll,
                },
            });
        }
    });
</script>
{% endblock %}
