{% extends 'base.html.twig' %}
{% block title %} Sticker {% endblock %}
{% block navbaritems %}

{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-12 mb-3">
                <div class="list-group">
                    Ciceksepeti Kategorileri
                    {% for category in categories %}
                        <a href="#"
                           class="list-group-item list-group-item-action category-link"
                           data-id="{{ category.id }}">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block body_scripts %}
    <script>
    </script>

{% endblock %}
